# Бинарные файлы
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Библиотеки
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Объектные файлы
*.o
*.obj
*.so
*.dll
*.dylib

# Пакеты
*.tar.gz
*.zip
*.7z

# IDE и редакторы
# VS Code
.vscode/
.vscode/*

# Sublime Text
*.sublime-workspace

# CLion
.idea/
cmake-build-*/

# Visual Studio
.vs/
*.vcxproj.user
*.vcxproj.filters
Debug/
Release/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Каталоги для сборки
build/
bin/
obj/
out/

# Логи и временные файлы
*.log
*.tmp
*.swp
*.bak

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Кэшированные файлы
.cache/
*.pyc
*.pyo
*.pyd

# Системные файлы
$RECYCLE.BIN/
